<!DOCTYPE html>
<html>
<head>
    <title>Sector - 1</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h3>Sector - 1</h3>
    <canvas id="lineChart" width="900" height="500"></canvas>
    <script>
        const ctx = document.getElementById('lineChart').getContext('2d');
        const data = {{ chart_data | safe }};

        new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                responsive: true,
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                stacked: false,
                plugins: {
                    legend: {
                        position: 'left'
                    }
                },
                scales: {
                    y: {
                        beginAtZero: false,
                        title: {
                            display: true,
                            text: 'DL PRB Utilization (%)'
                        }
                    }
                }
            }
        });
    </script>
</body>
</html>
